<div class="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/banner-house.png');">

  <div class="banner-content">
    <h1>WELCOME HOME</h1>
      <p>Enter as a STRANGER, leave as a FRIEND</p>
  </div>

</div>

