<div class="navbar-wagon">

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <a href="" class="navbar-wagon-item navbar-wagon-link">Gallery</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">The House</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Contact Us</a>
</div>
